form{
    margin:1px;
    width:50%;
}
.register{
    background-image:url('../../assets/download.svg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 60px 0;
}